<%= content_for :title do %>
  Catalogue
<% end %>
<div class="jumbotron">
  <h1 class="text-center">Catalogue</h1>
</div>
<div class="container mt-5">
  <div class="row mt-5">
    <% @products.each do |p| %>
      <%= link_to product_path(p), class: 'card-link' do %>
        <div class="card m-2" style="width: 18rem;">
          <img src="<%= p.img_url || 'http://via.placeholder.com/350x250' %>" alt="product-img" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= p.name %></h5>
            <p class="card-text">
              <span class="text-muted"><%= p.brand %></span><br>
            <h1><%= p.price %> $</h1>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>