<div class="container">
  <div class="row">
    <%= @products.each do |p| %>
      <a class="card-link" href="<%= product_path(p) %>">
        <div class="card m-2" style="width: 18rem;">
          <img src="http://via.placeholder.com/350x250" alt="product-img" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= p.name %></h5>
            <p class="card-text">
              <span class="text-muted"><%= p.brand %></span><br>
            <h1><%= p.price %> $</h1>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>