<%= form_for(@product) do |form| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger" role="alert">
      Error
      <ul class="mb-0">
        <% @product.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field(:name, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label :brand %>
    <%= form.text_field(:brand, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area(:description, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label :price %>
    <%= number_field(:product, :price, min: 1, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label :in_stock %>
    <%= number_field(:product, :in_stock, min: 1, class: 'form-control') %>
  </div>
  <div class="form-group">
    <%= form.label :img_url %>
    <%= url_field(:product, :img_url, class: 'form-control') %>
  </div>
  <%= form.submit class: 'btn btn-primary' %>
<% end %>