<%= content_for :title do %>
  Product Manager
<% end %>
<div class="jumbotron mt-0 ">
  <div class="container">
    <h1>Products Manager</h1>
  </div>
</div>
<div class="">
  <%= link_to "Add Product", new_product_path, class: "btn btn-primary mb-4" %>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">In Stock</th>
        <th scope="col">Image Url</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody id="resource-tbody">
      <% @products.each do |p| %>
        <tr>
          <th scope="row"><%= link_to p.id, edit_product_path(p) %></th>
          <td><%= link_to p.name, edit_product_path(p) %></td>
          <td><%= link_to p.brand, edit_product_path(p) %></td>
          <td><%= link_to p.description, edit_product_path(p) %></td>
          <td><%= link_to p.price, edit_product_path(p) %></td>
          <td><%= link_to p.in_stock, edit_product_path(p) %></td>
          <td><%= link_to p.img_url, edit_product_path(p) %></td>
          <td>
            <div class="btn-group w-100">
              <%= link_to "Edit", edit_product_path(p), :class => "btn btn-warning w-100" %>
              <%= link_to "Delete", product_path(p), method: :delete, data: {confirm: 'Are you sure?'}, :remote => true, :class => 'w-100 btn btn-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="input-group">
    <div class="input-group-prepend w-25">
      <button class="btn btn-secondary w-100">Next page</button>
    </div>
    <select class="custom-select">
      <option class="text-center" selected value="1">1</option>
    </select>
    <div class="input-group-prepend w-25">
      <button class="btn btn-secondary w-100">Previous page</button>
    </div>
  </div>
</div>
<script>
    $(document).ready(() => {
        $('.btn-danger').bind('ajax:success', function () {
            $(this).closest('tr').fadeOut()
        })
    })
</script>