<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">AIRY</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a href="#" class="nav-link">Sign out</a>
    </li>
  </ul>
</nav>
<div class="row mt-3">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "Overview", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Orders", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Products", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Customers", products_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
  <main class="col mr-3" role="main">
    <% if notice %>
      <p class="alert alert-warning"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </main>
</div>
</body>
</html>